.wrapper {
  font-size: 200px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 34px;

}
.container {
  width: 973px;
  display: flex;
  justify-content: space-between;
}
.left{
  color: #5D5FEF;
}
.right {
  color: #EF5DA8;
}

@media all and (max-width: 351px){
  .wrapper {
    font-size: 56px;
    max-width: 320px;
    margin: 0 20px;
    border-bottom: 1px solid #C7CDD9;
  }
  .container {
    width: 100%;
    margin-bottom: 60px;
    justify-content: start;
  }
  .left{
    margin-right: 30px;
  }
}